.App {
  text-align: center;
}

.textCenter {
	text-align: center;
}

#AppHeader {
  margin-bottom: 30px;
}

.AppContent {
  margin-top:  20px;
  margin-bottom:  20px;
}

.textFooter {
  text-align: center;
}

.AppContent h2 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.HeaderContent {
	background: #2271a4;
	color: white;
}